<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:insert="base::headbar"></div>
<style>
    body, html {
        height: 100%;
    }
    .bg {
        height: 100%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        opacity: 40%;
    }
.cd{
    width:280px;
    height:280px;}

.tp{
    z-index: 9999;
}

</style>

<body>
<div style="background-image: url('https://mdbootstrap.com/img/Photos/Horizontal/Nature/full page/img(11).jpg');"class="bg">

<div th:insert="base::navbar"></div>

<div class="container">

        <div class="cd">
        <div class="card">
            <div class="card-body"> Margo Kelly</div>
            <img class="card-img-bottom" width="280" height="280" src="https://avatars0.githubusercontent.com/u/9338027?s=460&v=4" alt="Margo">
        </div>
    </div>

        <br><br><br><div>
        <table class="table tp">
            <thead class="thead-dark">
            <tr>
                <th>semester</th>
                <th>course</th>
                <th>grade</th>
            </tr>
            </thead>
            <tbody>
            <tr class="table-primary">
                <th scope="row">1</th>
                <td>Math</td>
                <td>A</td>
            </tr>
            <tr class="table-primary">
                <th scope="row">2</th>
                <td>Physics</td>
                <td>A</td>
            </tr>
            <tr class="table-primary">
                <th scope="row">3</th>
                <td>English</td>
                <td>A</td>
            </tr>
            <tr class="table-info">
                <th scope="row">Overall GPA</th>
                <th scope="row">4.0</th>
                <td></td>

            </tr>
            </tbody>
        </table>




</div></div></div>
    <div th:insert="base::script-boot"></div>
</body>
</html>
